{include file='common/header' title='后台统计'}
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>用户数量</h5>
                        <h1 class="no-margins">{$userTotal}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>点赞数</h5>
                        <h1 class="no-margins">{$likeTotal}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>回复数</h5>
                        <h1 class="no-margins">{$replyTotal}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5>帖子数量</h5>
                        <h1 class="no-margins">{$postTotal}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>