{include file='common/header'}
<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <!--<div class="fly-none">没有权限</div>-->
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">发表新帖<!-- 编辑帖子 --></li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="" method="post">
              <div class="layui-elem-quote"><p>保持对陌生人的友善, 请不要在本论坛发布任何盗版链接，包括软件、音乐、电影等。</p></div>
              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md3">
                  <label class="layui-form-label">分类</label>
                  <div class="layui-input-block">
                    <select lay-verify="required" name="class" lay-filter="column">
                      <option></option>
                      {if condition="isset($category)"}
                      {foreach name="category" item="cat"}
                      <optgroup label="{$key}" />
                      {foreach name='cat' item='data'}
                      <option value="{$key}">{$data}</option>
                      {/foreach}
                      {/foreach}
                      {else /}
                      <option value="0">暂无分类</option>
                      {/if}
                    </select>
                  </div>
                </div>
                <div class="layui-col-md9">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
                    <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="L_content" name="content" required lay-verify="required" placeholder="详细描述" class="layui-textarea fly-editor" style="height: 260px;"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label for="L_experience" class="layui-form-label">发帖积分</label>
                  <div class="layui-input-inline" style="width: 190px;">
                    <input type="text" id="L_experience" name="experience" value="20" class="layui-input" disabled="disabled" readonly="readonly">
                  </div>
                  <div class="layui-form-mid layui-word-aux">每次发帖消耗20积分</div>
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <a href="javascript:void(0)" class="captcha-image-box">
                    <img src="{:captcha_src()}" alt="captcha" title="看不清，点击图片刷新" onclick="javascript:this.src='{:captcha_src()}?tm='+Math.random();" style="cursor: pointer"/>
                  </a>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即发布</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file='common/footer' modeName='jie'}
