<div class="col-md-3 side-bar">

    <div class="panel panel-default corner-radius">
        <div class="panel-heading">
            <h3 class="panel-title">热门标签</h3>
        </div>
        <div class="panel-body">
            <div class="badge badge-tag-cloud">
                <a href="tag.html">BBS</a> (7)
            </div>
        </div>
    </div>
    <div class="panel panel-default corner-radius">
        <div class="panel-heading">
            <h3 class="panel-title">小贴士</h3>
        </div>
        <div class="panel-body">
            猪有猪的思想，人有人的思想。如果猪有人的思想，那它就不是猪了——是八戒!
        </div>
    </div>

    <div class="panel panel-default corner-radius">
        <div class="panel-heading">
            <h3 class="panel-title">统计信息</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">社区会员: 747</li>
            <li class="list-group-item">主题数: 95</li>
            <li class="list-group-item">回帖数: 218</li>
        </ul>
    </div>


</div>